html, body, #__next {
  height: 100%;
  margin: 0;
  background: #F6F9FC;
  font-family: Inter, Roboto, -apple-system, "Segoe UI", "Helvetica Neue", Arial;
}

/* override MUI drawer paper rounding on some setups */
.MuiDrawer-paper {
  border-radius: 12px;
}
